body {
  font-family: 'Montserrat', sans-serif;
}



h1 {
    color: steelblue;
}

.img {
    width: 150px;
    height: auto;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    display: block;
    margin: 20px auto;
}
.denario {
    width: 150px;
    height: auto;
    display: block;
    margin: 20px auto;
}